@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
:root{
    --font1: 'Passion One', 'cursive';
    --font2: 'Sriracha', 'cursive';
}
body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(148, 147, 147);
    min-height: 100vh;
    font-family: var(--font2);
    }
header{
    background-color: black;
    color: white;
    text-align: center;
    
}
header >h1{
    margin: 0px;
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--font1);
    font-size: 10vw;
    
}
header >p{
    padding-bottom: 50px;
    margin: 0px;
}
a{
    color: white;
    text-decoration: none;
}
section{
    padding-top: 10%;
    padding-bottom: 10%;
    line-height: 2em;
    padding-left: 30px;
    font-size: 3vw;
}
section.normal{
    background-color: white;
    color: black;
}
section.imagem{ 
    background-color: rgba(2, 2, 2, 0.61);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.486);
    background-size: cover;
    background-attachment: fixed;
}
section.imagem >p{
    background-color: rgba(2, 2, 2, 0.137);
    display: inline-block;
    padding: 5px;
}
section#img1{
    background-image: url(imagens/background001.jpg);
    background-position: right center; 
    
}
section#img2{
    background-image: url(imagens/background002.jpg);
    background-position: right center; 
}
section >p{
    line-height: 3;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}